<script type="text/javascript">

function filter(input) {
  var substrings = [], excluded = [];
  input.value.split(" ").forEach(function(s){
    if(s.length>0) {
      if(s.startsWith("-")) {
        excluded.push(s.substring(1,s.length + 1))
      } else {
        substrings.push(s);
      }
    }
  })

}

</script>

<input onkeyup="filter(this);" type="text">

<table>

<tr>
  {{#each data.fields}}
      <th>{{this}}</th>
  {{/each}}
</tr>

{{#each data.project_infos as |project_info|}}
  <tr>
  {{#each @../fields}}
      <td>{{lookup project_info this}}</td>
  {{/each}}
  </tr>
{{/each}}

</table>