.dataTable {
    border: 1px solid lightgray;
}
.dataTable tr:nth-child(2n) {
    background-color: #f8f8f8;
}
tr {
    vertical-align: top;
}

.leftMargin2 {
    margin-left: 1em;
}

.noMargins {
    margin-top: 0px;
    margin-bottom: 0px;
}