.dataTable {
    border: 1px solid lightgray;
}
.dataTable tr:nth-child(2n) {
    background-color: #f8f8f8;
}
tr {
    vertical-align: top;
}

.leftMargin2 {
    margin-left: 1em;
}

.noMargins {
    margin-top: 0px;
    margin-bottom: 0px;
}

.blueUpArrowLink {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #c0c0ff;
    top: -0.8em;
    position: relative;
    margin-right: 0.3em;
}

.blacktextHoverUnderline {
    color: #000000;
    text-decoration: none;
}

.blacktextHoverUnderline:hover {
    text-decoration: underline;
}